element.style {
    font-size: 14px;
}
table[Attributes Style] {
    width: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
@media (max-width: 790px)
body {
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-size: 14px;
    background-color: #c6c6c6;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
Style Attribute {
    font-size: 14px;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
Style Attribute {
    font-size: 14px;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.listheader {
    background-color: #f1f1f1;
    color: #239ed2;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}
td[Attributes Style] {
    width: 8%;
    text-align: -webkit-center;
    vertical-align: middle;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
Style Attribute {
    font-size: 14px;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.boi-listing-rows>td:first-child {
    border-left: none;
}
.boi-listing-rows>td {
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    text-align: center;
    padding: 0 0 0 10px;
}
.boi-listing-rows>td {
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    text-align: center;
    padding: 0 0 0 10px;
}
.boi-listing-rows>td {
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    text-align: center;
    padding: 0 16px;
}
.boi-listing-rows table {
    table-layout: fixed;
}
table[Attributes Style] {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.bluelink a {
    color: #239ed2;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.imgrtpdng {
    padding-right: 18px;
    margin: 5px 0 0;
}
.imdbmovielist {
    width: 35px!important;
    height: 50px;
    padding-bottom: 5px;
}

form, img, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    border: 0;
}
.bluelink a {
    color: #239ed2;
    text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.rupeesblack {
    padding-right: 0;
} 

@media screen and (max-width:767px) {
	table thead{display: none;}
	table tbody ,table tbody tr{display: block; width: 100%;}
	table tbody tr td::before , table tbody tr td::before{content: attr(data-title); display: block;}
	table tbody tr td{display: block; width: 50%; float: left;}
	table tbody tr th{display: block; width: 50%; float: left;}
	table tbody tr{margin-bottom: 16px;}
}